* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.box-1 {
    position: relative;
    width: 1540px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", sans-serif;
}

.color-logo {
    color: #2e2f42;
}

.box-1>div a {
    text-decoration: none;
}

.box-1>div {
    display: inline-block;
}

.logo1 {
    width: 115px;
    height: 24px;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-align: center;
    margin-right: 100px;
    margin-left: -0px;
}

.logo2 {
    font-family: "Roboto", sans-serif;
    width: 261px;
    height: 24px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-right: 300px;
}

.list1 li a:hover {
    color: #3c49c0;
}

.logo3 address:hover {
    color: #3c49c0;
}

.title-button:hover {
    background-color: #3c49c0;
    color: #3c49c0;
}

.logo2 .list1 {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
}

.logo2 .list1 a {
    color: #2e2f42;
}

.logo3 address {
    font-family: "Roboto", sans-serif;
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-left: 150px;
}

.logo3 address p {
    margin-right: 25px;
}

/* HEADER BİTİŞ*/

.title {
    width: 1540px;
    height: 600px;
    background: #2e2f42;
    align-items: center;
}

.title-text {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    position: relative;
    top: 20%;
}

.title-button {
    font-family: "Roboto", sans-serif;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    text-align: center;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.title-button button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    border: none;
    color: #fff;
    padding: 0;

    width: 100%;

    height: 100%;

    cursor: pointer;
    white-space: nowrap;
}

.white-text {
    width: 1228px;
    height: 104px;
    display: inline-block;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;
}

.white-1,
.white-2,
.white-3,
.white-4 {
    width: 264px;
    height: 104px;
    display: inline-block;
    vertical-align: top;
}

.white-text ul {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    list-style-type: none;
}

.white-text li {
    display: inline-block;
    width: 264px;
    height: 104px;
    vertical-align: center;
    margin-right: 10px;
}

.card {
    width: 1540px;
    height: 732px;
    background: #f4f4fd;
    display: inline-block;
    position: relative;
}

.ourteam {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-top: 100px;
}

.mark,
.tom,
.camila,
.daniel {
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 380px;
}

.card .mark-text,
.card .tom-text,
.card .camila-text,
.card .daniel-text {
    width: 264px;
    height: 120px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    text-align: center;
    display: inline-block;
    position: relative;
}

.card .mark-text h3,
.card .tom-text h3,
.card .camila-text h3,
.card .daniel-text h3 {
    margin: 0;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card .mark-text p,
.card .tom-text p,
.card .camila-text p,
.card .daniel-text p {
    margin: 0;
    font-size: 14px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.card ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding-top: 100px;
    padding-left: 180px;
}

.card li {
    display: inline-block;
    width: 264px;
    height: 104px;
    vertical-align: center;
    margin-right: 30px;
}

.portfolio {
    width: 1128px;
    height: 1000px;
    background: #fff;
    display: inline-block;
    position: relative;
    margin-left: 200px;
    margin: 0px;
    padding: 0px;
    margin-top: 120px;
    margin-left: 180px;
}

.ourportfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    width: 400px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.portfolio1,
.portfolio2,
.portfolio3 {
    width: 360px;
    height: 420px;
    background: #fff;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
}

.portfolio4 {
    margin-top: 100px;
}

.portfolio1 .portfolio-text1,
.portfolio2 .portfolio-text2,
.portfolio3 .portfolio-text3 {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 0px 0px;
    width: 360px;
    height: 120px;
}

.portfolio4 .portfolio-text4,
.portfolio5 .portfolio-text5,
.portfolio6 .portfolio-text6 {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 0px 0px;
    width: 360px;
    height: 120px;
}

.portfolio1 .portfolio-text1 h3,
.portfolio2 .portfolio-text2 h3,
.portfolio3 .portfolio-text3 h3 {
    margin-top: 25px;
    margin-left: 10px;
}

.portfolio1 .portfolio-text1 p,
.portfolio2 .portfolio-text2 p,
.portfolio3 .portfolio-text3 p {
    margin-top: 10px;
    margin-left: 10px;
}

.portfolio4 .portfolio-text4 h3,
.portfolio5 .portfolio-text5 h3,
.portfolio6 .portfolio-text6 h3 {
    margin-left: 10px;
    margin-top: 25px;
}

.portfolio4 .portfolio-text4 p,
.portfolio5 .portfolio-text5 p,
.portfolio6 .portfolio-text6 p {
    margin-top: 10px;
    margin-left: 10px;
}

.portfolio ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding-top: 100px;
    padding-left: 0px;
}

.portfolio li {
    display: inline-block;
    width: 264px;
    height: 104px;
    vertical-align: center;
    margin-right: 109px;
    margin-left: 0px;
}

.last-box {
    width: 1540px;
    height: 312px;
    font-family: "Raleway", sans-serif;
    background: #2e2f42;
    position: relative;
}

.last-box .last-logo-a {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.last-box p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.last-box .color-logo {
    color: #f4f4fd;
}

.last-box a {
    text-decoration: none;
}

.last-box>.last-logo {
    margin-top: 80px;
    margin-left: 180px;
    width: 264px;
    height: 112px;
    background: #2e2f42;
    padding-top: 100px;
    position: relative;
}